DATABASE_URL=mysql+pymysql://root:rootpass@mysql:3306/checking
DATABASE_URL_SQLALCHEMY=mysql+pymysql://root:rootpass@mysql:3306/checking
SECRET_KEY=
MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
